<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="20"/>
  <add key="MaxPage" value="5"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="ochutgio@gmail.com"/>
  <add key="FromEmailPassword" value="01682147347"/>
  <add key="FromName" value="NHÓM 1 .NET"/>
  <add key="AdminEmail" value="vanminhnguyenbmt@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:8838/"/>
  <add key="EnableBundles" value="false"/>
</appSettings>