<!DOCTYPE html>
<html>
<head>
    <title>Luxury Watches</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Scripts/js/jquery-1.11.0.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Watches Responsive web" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Scripts/js/simpleCart.min.js"> </script>
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Scripts/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!--dropdown-->
    <script src="~/Scripts/js/jquery.easydropdown.js"></script>
    <link href="~/Content/Custom.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">
                    <div class="drop">
                        <div class="box">
                            <select tabindex="4" class="dropdown drop">
                                <option value="" class="label">VND</option>
                                <option value="1">USD</option>
                                <option value="2">VND</option>
                            </select>
                        </div>
                        <div class="box1">
                            <select tabindex="4" class="dropdown">
                                <option value="" class="label">TIẾNG VIỆT</option>
                                <option value="1">ENGLISH</option>
                                <option value="2">TIẾNG VIỆT</option>

                            </select>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4 userMenu">
                    @{ Html.RenderAction("UserMenu", "Account"); }
                </div>
                <div class="col-md-2 top-header-left">
                    <div class="cart box_1">
                        <a href="~/Home/Checkout">
                            <div class="total">
                                <span class="simpleCart_total"></span>
                            </div>
                            <img src="~/images/cart-1.png" alt="" />
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="~/Home/index"><h1>Luxury Watches</h1></a>
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            <div class="header">
                <div class="col-md-9 header-left">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class="active"><a href="~/Home/index">Home</a></li>
                            <li class="grid">
                                <a href="#">Men</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a href="~/Product/index">New Arrivals</a></li>
                                                <li><a href="~/Product/index">Blazers</a></li>
                                                <li><a href="~/Product/index">Swem Wear</a></li>
                                                <li><a href="~/Product/index">Accessories</a></li>
                                                <li><a href="~/Product/index">Handbags</a></li>
                                                <li><a href="~/Product/index">T-Shirts</a></li>
                                                <li><a href="~/Product/index">Watches</a></li>
                                                <li><a href="~/Product/index">My Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a href="~/Product/index">Shoes</a></li>
                                                <li><a href="~/Product/index">Watches</a></li>
                                                <li><a href="~/Product/index">Brands</a></li>
                                                <li><a href="~/Product/index">Coats</a></li>
                                                <li><a href="~/Product/index">Accessories</a></li>
                                                <li><a href="~/Product/index">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="~/Product/index">499 Store</a></li>
                                                <li><a href="~/Product/index">Fastrack</a></li>
                                                <li><a href="~/Product/index">Casio</a></li>
                                                <li><a href="~/Product/index">Fossil</a></li>
                                                <li><a href="~/Product/index">Maxima</a></li>
                                                <li><a href="~/Product/index">Timex</a></li>
                                                <li><a href="~/Product/index">TomTom</a></li>
                                                <li><a href="~/Product/index">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="#">Women</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a href="~/Product/index">New Arrivals</a></li>
                                                <li><a href="~/Product/index">Blazers</a></li>
                                                <li><a href="~/Product/index">Swem Wear</a></li>
                                                <li><a href="~/Product/index">Accessories</a></li>
                                                <li><a href="~/Product/index">Handbags</a></li>
                                                <li><a href="~/Product/index">T-Shirts</a></li>
                                                <li><a href="~/Product/index">Watches</a></li>
                                                <li><a href="~/Product/index">My Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a href="~/Product/index">Shoes</a></li>
                                                <li><a href="~/Product/index">Watches</a></li>
                                                <li><a href="~/Product/index">Brands</a></li>
                                                <li><a href="~/Product/index">Coats</a></li>
                                                <li><a href="~/Product/index">Accessories</a></li>
                                                <li><a href="~/Product/index">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="~/Product/index">499 Store</a></li>
                                                <li><a href="~/Product/index">Fastrack</a></li>
                                                <li><a href="~/Product/index">Casio</a></li>
                                                <li><a href="~/Product/index">Fossil</a></li>
                                                <li><a href="~/Product/index">Maxima</a></li>
                                                <li><a href="~/Product/index">Timex</a></li>
                                                <li><a href="~/Product/index">TomTom</a></li>
                                                <li><a href="~/Product/index">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="#">Kids</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Shop</h4>
                                            <ul>
                                                <li><a href="~/Product/index">New Arrivals</a></li>
                                                <li><a href="~/Product/index">Blazers</a></li>
                                                <li><a href="~/Product/index">Swem Wear</a></li>
                                                <li><a href="~/Product/index">Accessories</a></li>
                                                <li><a href="~/Product/index">Handbags</a></li>
                                                <li><a href="~/Product/index">T-Shirts</a></li>
                                                <li><a href="~/Product/index">Watches</a></li>
                                                <li><a href="~/Product/index">My Shopping Bag</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Style Zone</h4>
                                            <ul>
                                                <li><a href="~/Product/index">Shoes</a></li>
                                                <li><a href="~/Product/index">Watches</a></li>
                                                <li><a href="~/Product/index">Brands</a></li>
                                                <li><a href="~/Product/index">Coats</a></li>
                                                <li><a href="~/Product/index">Accessories</a></li>
                                                <li><a href="~/Product/index">Trousers</a></li>
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Popular Brands</h4>
                                            <ul>
                                                <li><a href="~/Product/index">499 Store</a></li>
                                                <li><a href="~/Product/index">Fastrack</a></li>
                                                <li><a href="~/Product/index">Casio</a></li>
                                                <li><a href="~/Product/index">Fossil</a></li>
                                                <li><a href="~/Product/index">Maxima</a></li>
                                                <li><a href="~/Product/index">Timex</a></li>
                                                <li><a href="~/Product/index">TomTom</a></li>
                                                <li><a href="~/Product/index">Titan</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="typo.html">Blog</a>
                            </li>
                            <li class="grid">
                                <a href="~/Home/Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 header-right">
                    <div class="search-bar">
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="" class="glyphicon-search">
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <!--information-starts-->
    <div class="information">
        <div class="container">
            <div class="infor-top">
                <div class="col-md-3 infor-left">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                        <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                        <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#"><p>Specials</p></a></li>
                        <li><a href="#"><p>New Products</p></a></li>
                        <li><a href="#"><p>Our Stores</p></a></li>
                        <li><a href="~/Home/Contact"><p>Contact Us</p></a></li>
                        <li><a href="#"><p>Top Sellers</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="~/dang-nhap"><p>My Account</p></a></li>
                        <li><a href="#"><p>My Credit slips</p></a></li>
                        <li><a href="#"><p>My Merchandise returns</p></a></li>
                        <li><a href="#"><p>My Personal info</p></a></li>
                        <li><a href="#"><p>My Addresses</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Store Information</h3>
                    <h4>
                        The company name,
                        <span>Lorem ipsum dolor,</span>
                        Glasglow Dr 40 Fe 72.
                    </h4>
                    <h5>+955 123 4567</h5>
                    <p><a href="mailto:example@email.com">contact@example.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--information-end-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-6 footer-left">
                    <form>
                        <input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="col-md-6 footer-right">
                    <p>© 2015 Luxury Watches. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer-end-->
</body>
</html>
