
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .content{
        padding:20px 80px 50px 80px;
    }
    .content h5{
        font-size:1.5em;
    }
</style>
<div class="content">
    <h5>Bạn đã mua hàng thành công!</h5>
    <h5>Hàng được giao trong 7 ngày nữa.</h5>
    <a href="~/Home/">Go to home</a>
</div>


