<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BANDONGHOEntities" connectionString="metadata=res://*/DataContext.BanDongHo.csdl|res://*/DataContext.BanDongHo.ssdl|res://*/DataContext.BanDongHo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIN-PC;initial catalog=BANDONGHO;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>