@model BanDongHo.Areas.Admin.Models.ProductViewModel;

@{
    Layout = null;
}
<div class="form-group">
    <label class="control-label">Tên sản phẩm</label>
    <input type="text" class="form-control" id="TENSP" onblur="validateName()" placeholder="" />
</div>
<div class="form-group">
    <label class="control-label">Số lượng</label>
    <input type="number" class="form-control" id="SOLUONG" placeholder="" required value="1"/>
</div>
<div class="form-group">
    <label class="control-label">Mô tả</label>
    <textarea class="form-control" id="MOTA" placeholder="" />
</div>
<div class="form-group">
    <label class="control-label">Thương hiệu</label>
    <select id="MATH" class="form-control">
        @foreach (var item in ViewBag.ThuongHieu)
        {
            <option value="@item.MATH"> @item.TENTH </option>
        }
    </select>
</div>
<div class="form-group">
    <label class="control-label">Đơn giá(VNĐ)</label>
    <input type="number" step="100000" class="form-control" id="DONGIA" value="1000000"/>
</div>
<div class="form-group">
    <label class="control-label">Hình lớn</label>
    <input type="file" class="form-control" id="HINHLON" accept="image/*"/>
</div>
<div class="form-group">
    <label class="control-label">Hình nhỏ</label>
    <input type="text" class="form-control" id="HINHNHO" />
</div>
<div class="form-group">
    <label class="control-label">Loại sản phẩm</label>
    <select id="MALOAISP" class="form-control">
        @foreach (var item in ViewBag.LoaiSanPham)
        {
            <option value="@item.MALOAISP"> @item.TENLOAISP </option>
        }

    </select>
</div>

<div class="form-group">
    <label class="control-label">Đánh giá</label>
    <textarea class="form-control" id="DANHGIA" placeholder="" />
</div>




<div>
    <button class="btn btn-success" id="btn-ok-create"> Ok </button>
    <button class="btn btn-danger" id="btn-cancel-create"> Cancel </button>
</div>

<script>

    function validateName() {
       var name = $('#TENSP').val();

        if (isEmpty(name)) {
            $('#TENSP').css("border-color", "red");
            return false;
        } else {
            $('#TENSP').css("border-color", "green");
        }
        return true;
    }

    $("#HINHLON").change(function () {
        //productImage();
    });

    function productImage() {
        var formData = new FormData();
        var totalFiles = document.getElementById("HINHLON").files.length;
        for (var i = 0; i < totalFiles; i++) {
            var file = document.getElementById("HINHLON").files[i];
            formData.append("HINHLON", file);
        }
        $.ajax({
            type: "POST",
            url: '/Admin/Product/Photo',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function () {
                
                alert("upload image success");

            },
            error: function () {
                alert("upload image fail");
            }
        });
    }
  
</script>


