
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li class="active">Contact</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--contact-start-->
<div class="contact">
    <div class="container">
        <div class="contact-top heading">
            <h2>CONTACT</h2>
        </div>
        <div class="contact-text">
            <div class="col-md-3 contact-left">
                <div class="address">
                    <h5>Address</h5>
                    <p>
                        The company name,
                        <span>Lorem ipsum dolor,</span>
                        Glasglow Dr 40 Fe 72.
                    </p>
                </div>
                <div class="address">
                    <h5>Address1</h5>
                    <p>
                        Tel:1115550001,
                        <span>Fax:190-4509-494</span>
                        Email: <a href="mailto:example@email.com">contact@example.com</a>
                    </p>
                </div>
            </div>
            <div class="col-md-9 contact-right">
                <form>
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Phone">
                    <input type="text" placeholder="Email">
                    <textarea placeholder="Message" required=""></textarea>
                    <div class="submit-btn">
                        <input type="submit" value="SUBMIT">
                    </div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--contact-end-->
<!--map-start-->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2282350985097!2d106.80113671422733!3d10.870237742257922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiDEkEhRRy1IQ00!5e0!3m2!1svi!2s!4v1521476884352" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<!--map-end-->
